@model Article
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<script src="https://ckeditor.com/docs/vendors/4.12.1/ckeditor/ckeditor.js"></script>

<div class="card">
    <div class="card-heading border bottom">
        <br />
        <h4 class="card-title text-center">Makale Düzenle</h4>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-9 ml-auto mr-auto">
                <form asp-controller="YoneticiMakale" asp-action="Guncelle" asp-route-Id="@Model.Id" method="post" enctype="multipart/form-data" class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                    <div class="form-group">
                        <br />
                        <label>Makale Başlık</label>
                        <input type="text" class="form-control kontrol" asp-for="Title" value="@Model.Title" required>
                    </div>
                    <label>Makale İçerik</label>
                    <textarea asp-for="Content" name="Content" id="Content">
                       @Model.Content
                    </textarea>

                    <div class="form-group">
                        <label>Makale Kategori</label>
                        @Html.DropDownList("KategoriId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <center><button type="submit" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i> Makale Düzenle</button></center><br />
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    CKEDITOR.replace('Content', {
        height: 300,
        extraPlugins: 'colorbutton',
        colorButton_colors: '000,f1c40f,3498db,e74c3c,2ecc71,9b59b6,f39c12,#ecf0f1',
        colorButton_enableAutomatic: false
    });
</script>

