@model Author
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="~/TemplateAdmin/LoginPage/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/TemplateAdmin/LoginPage/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/vendor/animate/animate.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/vendor/css-hamburgers/hamburgers.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/vendor/animsition/css/animsition.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/vendor/select2/select2.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/vendor/daterangepicker/daterangepicker.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/css/util.css">

    <link rel="stylesheet" type="text/css" href="~/TemplateAdmin/LoginPage/css/main.css">

    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form asp-controller="Yonetici" asp-action="Giris" method="post" enctype="multipart/form-data" class="login100-form validate-form flex-sb flex-w">
                    <span class="login100-form-title p-b-51">
                        GİRİŞ EKRANI
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Kullanıcı Adı Boş Bırakılamaz">
                        <input class="input100" type="text" asp-for="Username" placeholder="Kullanıcı Adı...">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Şifre Alanı Boş Bırakılamaz">
                        <input class="input100" type="password" asp-for="Password" placeholder="Şifre...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Beni Hatırla
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Şifremi Unuttum ?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            GİRİŞ
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/bootstrap/js/popper.js"></script>
    <script src="~/TemplateAdmin/LoginPage/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/TemplateAdmin/LoginPage/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/TemplateAdmin/LoginPage/js/main.js"></script>

</body>
</html>
